.panel-heading div {
  margin-top: -18px;
  font-size: 15px;
}
.panel-heading div span{
  margin-left:5px;
}
.panel-body{
  display: none;
}

.table {
    display: table;
    background: white;
    border-color: #3a87ad;
}

.tablescroll {
    overflow-y: auto;
	overflow-x: hidden;
	height: 189px;
	margin-right: 1px;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
  height: 50px;
}
th {
  color: #454545;
  font-weight: bold;
  height: 40px;
}
